.Rproj.user
.Rhistory
.RData
.Ruserdata
data/house_2012
data/house_2017
*.RDS
*.zip
outputs/leg_pop_estimates.qgz
*.cpg
*.dbf
*.prj
*.qpj
*.shp
*.shx
data/house_gather
data/house_joined
data/senate_2012
data/senate_2017
data/senate_gather
data/senate_joined
scripts/charts_sratch.R
scripts/data_processing.R
*.gpkg
*.xml
data/ACS_17_5YR_B01003_with_ann.csv
data/ACS_17_5YR_B01003_metadata.csv
data/ACS_17_5YR_B01003.txt
data/aff_download_readme_ann.txt
